.audience {
  padding: 50px 15px;
  background-color: #edf8fb;

  @include desktop-screen {
    padding: 0 0 110px 0;
  }

  &__title {
    @include desktop-screen {
      margin-top: 108px;
    }
  }

  &__subtitle {
    margin-top: 17px;

    @include desktop-screen {
      margin: 24px auto auto;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      max-width: 555px;
    }
  }

  &__text {
    margin-top: 18px;

    @include desktop-screen {
      margin: 30px auto auto;
      max-width: 555px;
    }
  }

  &__buttons {
    @include desktop-screen {
      display: flex;
      margin-top: 34px;
      gap: 10px;
      justify-content: center;
    }
  }

  &__primary-btn,
  &__secondary-btn {
    width: 100%;
  }

  &__primary-btn {
    margin-top: 30px;

    @include desktop-screen {
      width: 160px;
      margin: 0;
    }
  }

  &__secondary-btn {
    margin-top: 12px;

    @include desktop-screen {
      width: 158px;
      margin: 0;
    }
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;

    @include desktop-screen {
      flex-direction: row;
      justify-content: center;
      gap: 31px;
      margin-top: 111px;
    }
  }

  &__card {
    @include desktop-screen {
      width: 262px;
      height: 300px;
    }
  }
}
